/* /* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.ant-col-5{
  height: 65px;
}
::placeholder{
  color: #c7c7c7 !important;
}
.ant-divider-inner-text{
  color: #595959 !important;
}
body{
  margin: 0;
  padding: 0;
  font-family: IRANYekan,sans-serif !important;
}


.ant-table{
  color: #3e3e3e !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar-menu-li-a{
  padding: 10px 0px 10px 70px;
  font-size: 16px !important;
}
.metismenu-state-icon{
  float: left !important; 
}



.ant-drawer-close{
  right:auto !important;
  left:0 !important;
  /* right: 0 !important;
  left: 0; */
}
/* .ant-menu-item{
  padding-right:72px !important;
} */

/* .ant-layout-sider-dark{
  min-width: 270px !important;
} */

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
  overflow: unset !important;
}

.ant-layout-sider-children{
  height: -webkit-fill-available !important;
}
.ant-input{
  text-align: right !important;
}
.ant-menu-item{  
  text-align: right !important;
  padding-left: 20px !important;
}
.anticon{
  /* margin-right: 10px !important; */
  /* margin-left: 10px !important; */
  vertical-align: 0 !important;
  margin-right: 0 !important;
}
.ant-menu-submenu{
  text-align:right;
}
.ant-menu-submenu-title{
  padding-right: 18px !important;
}

.ant-menu-submenu-arrow{
  right: 210px !important;
}
.ant-menu-sub{
  padding-right: 35px !important;
}
.anticon-mail{
  font-size: 20px;
}
.ant-descriptions{
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: white;
  
}


.ant-dropdown-menu {
  text-align: center !important;
}

.ant-table-tbody{
  background-color: white !important;
}

/* pagination table*/
.ant-pagination{
  float: left !important;
}
.anticon-left{
  transform: rotate(180deg);
  margin-left: 0px !important;
  padding-top: 2px;
}
.anticon-right{
  transform: rotate(180deg);
  margin-left: 0px !important;
  padding-top: 2px;
}
.ant-pagination-item{
  margin-right: 0px !important;
}



.ant-form-explain{
  font:menu;
}



.ant-drawer-header{
  background: #f0f2f5  !important;
  border-bottom: 1px solid #d6d6d6 !important;
}
.ant-drawer-content{
  background: #f0f2f5  !important;
}
.ant-layout-content{
  background-color: #f8f8f8 !important;
}


/* ant dividr*/
.ant-divider{
  margin:4px 8px 0px 8px !important;
  width:2px !important;
}

.bef{
  background: #fff;
  box-shadow:0 1px 0 0 #dcdcdc;
  border-bottom: 1px solid #ccc;
}

.certain-category-search-dropdown{
  text-align: right !important;
}
.certain-category-search{
  text-align: right !important;
}
.ant-select-auto-complete.ant-select .ant-select-selection__placeholder{
  text-align: right;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder{
  color: #c6c6c6 !important;
}
/* .ant-input-affix-wrapper .ant-input-suffix{
  right: 0 !important;
  left:12px;
} */

.ant-statistic-title{
  color: #001529 !important;
  font-size:40px;
  float: left;
  width: 60px;
  text-align: center;
  margin-top: 0;
  
}

.ant-statistic-content{
  font-family: 'IRANSans',IRANSans !important;
}

.ant-statistic-content-prefix{
  display: block;
  margin-right: 0 !important;
  font-size: 20px;
  color: #001529;
}

.ant-statistic-content-value{
  font-size: 25px;
  font-weight: 500;
  margin-right: 5px;
}



.ant-badge-status{
  right: 10px;
  bottom: 10px;
}





/* select*/
  .ant-select-selection__placeholder{
    direction: rtl;
    text-align:right
  }
  .ant-select-arrow{
  right: 161px !important;
  left: 0;
  }
  .ant-select-selection-selected-value{
    float: right !important;
  }
  .ant-select-dropdown{
    text-align: right;
  } */
  /* .ant-select-selection--single .ant-select-selection__rendered{
    margin-right: 10px !important;
  }


/***** auto complate ****/
.ant-input-affix-wrapper .ant-input-suffix{
left: 20;direction: ltr;
}
.ant-input-affix-wrapper .ant-input:not(:last-child){
  padding-right: 10px !important;
}

/**********upload*/ 
.ant-upload-list-item-thumbnail{
  left:178px !important;
}
.ant-upload-list-item-name{
  padding-left: 0 !important;
  padding-right: 20px !important;
  direction: ltr;
}
.ant-upload-list-item-info{
  padding: 0 !important;
}
.ant-upload-list-item .anticon-close{
  right: 210px;
}
.ant-upload-list{
  width: 235px;
  direction: rtl;
}
.ant-upload-list-item{
 margin-top: 0 !important;
}
.anticon-paper-clip{
  margin-top: 4px;
  
}
.ant-form-item{
  margin-right: 0px !important;
}

.ant-upload-list-item-info .anticon-loading, .ant-upload-list-item-info .anticon-paper-clip{
  top:1px !important;
}

.ant-form-item-with-help{
  margin: 0 !important;
}




/**************** editCellsTable ***********/
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;  
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}




/*********************** ant modal **********************/
.ant-modal{
  direction: rtl;
  text-align: right;
}

.ant-modal-close{
  right:auto !important;
  left:0 !important;
  /* right: 0 !important;
  left: 0; */
}
.ant-modal-footer{
  text-align: left;
}

.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-danger{
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}





.anticon-exclamation-circle{
  margin-left: 5px !important;

}
.ant-popover-message{
  padding: 4px 15px 12px 0px !important;
  text-align: right;
}

.ant-popover-buttons{
  text-align: left;
}

.ant-drawer-body{
  direction: rtl;
}





.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner{
  margin-right: 5px !important;
}


.logo {
  height: 28px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}


.scroll {
  overflow: auto;
  float: left;
}







































.scroll1::-webkit-scrollbar {
  width: 5px;
}
 
.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}
 
.scroll1::-webkit-scrollbar-thumb {
  background: #666; 
}

.scroll2::-webkit-scrollbar {
  width: 5px;
}
 
.scroll2::-webkit-scrollbar-thumb {
  background: #334454; 
}

.scroll3::-webkit-scrollbar {
  width: 10px;
}
 
.scroll3::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
}

.scroll3::-webkit-scrollbar-track {
  background: #f8f8f8; 
}

.scroll4::-webkit-scrollbar {
  width: 10px;
}
 
.scroll4::-webkit-scrollbar-thumb {
  background: #666;

}

.scroll4::-webkit-scrollbar-track {
  background: #f0f2f5;
 
}

.scroll5::-webkit-scrollbar {
  width: 15px;
}
 
.scroll5::-webkit-scrollbar-thumb {
  background: #666;
}

.scroll5::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll5::-webkit-scrollbar-button {
  background: #666;
  height: 15px;
  border-radius: 50%;
}







.ant-switch-checked{
  background-color: #28a745 !important;
  padding: 5px;
}